[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 15.0
[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 15.0
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 15.0
[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = git@github.com:OCA/credit-control.git
	branch = 15.0
[submodule "OCA/brand"]
	path = OCA/brand
	url = git@github.com:OCA/brand.git
	branch = 15.0
[submodule "bmya/website-connectors"]
	path = bmya/website-connectors
	url = git@github.com:bmya/website-connectors.git
	branch = 15.0
[submodule "bmya/sale"]
	path = bmya/sale
	url = git@github.com:bmya/sale.git
	branch = 15.0_dev
[submodule "bmya/stock"]
	path = bmya/stock
	url = git@github.com:bmya/stock.git
	branch = 15.0_dev
[submodule "bmya/sale-workflow"]
	path = bmya/sale-workflow
	url = git@github.com:bmya/sale-workflow.git
	branch = 15.0
[submodule "bmya/account-payment"]
	path = bmya/account-payment
	url = git@github.com:bmya/account-payment.git
	branch = 15.0_dev
